In [1]:
#Continous integraion of latest data using https://github.com/swar/nba_api/blob/master/docs/examples/Finding%20Games.ipynb

In [1]:
import pandas as pd

In [2]:
from nba_api.stats.static import teams

nba_teams = teams.get_teams()
# Select the dictionary for the Celtics, which contains their team ID
celtics = [team for team in nba_teams if team['abbreviation'] == 'BOS'][0]
celtics_id = celtics['id']

In [3]:
from nba_api.stats.endpoints import leaguegamefinder

# Query for games where the Celtics were playing
gamefinder = leaguegamefinder.LeagueGameFinder(team_id_nullable=celtics_id)
# The first DataFrame of those returned is what we want.
games = gamefinder.get_data_frames()[0]
games.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22023,1610612738,BOS,Boston Celtics,0022300421,2023-12-28,BOS vs. DET,W,266,128,...,0.840,11,32,43,25,10,4,12,15,6.0
1,22023,1610612738,BOS,Boston Celtics,0022300403,2023-12-25,BOS @ LAL,W,240,126,...,0.750,11,33,44,31,8,7,8,17,11.0
2,22023,1610612738,BOS,Boston Celtics,0022300389,2023-12-23,BOS @ LAC,W,241,145,...,0.786,15,36,51,33,4,5,9,19,37.0
3,22023,1610612738,BOS,Boston Celtics,0022300373,2023-12-20,BOS @ SAC,W,239,144,...,0.833,14,36,50,35,6,10,9,17,25.0
4,22023,1610612738,BOS,Boston Celtics,0022300362,2023-12-19,BOS @ GSW,L,264,126,...,0.882,18,37,55,28,6,5,8,13,-6.0

In [4]:
games.groupby(games.SEASON_ID.str[-4:])[['GAME_ID']].count().loc['2015':]

           GAME_ID
SEASON_ID
2015           103
2016           115
2017           113
2018           101
2019           102
2020            80
2021           115
2022           111
2023            40